.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #0b2447;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.navbar-brand {
  color: #f1f1f1;
}

.navbar-brand:hover {
  color: #d9d9d9;
}
